IntegrationsBootcamp/mdapi/flows/Contact_CDC_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sync_Contact</name>
        <label>Sync Contact</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>FlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_record_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Loop_through_record_Ids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Changed_Record_Ids</name>
        <label>Assign Record Ids</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>recordIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TriggerInput.recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_record_Ids</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CDC_FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Contact]_CDC_Flow</label>
    <loops>
        <name>Loop_through_record_Ids</name>
        <label>Loop through record Ids</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changed_Record_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriggerInput</name>
        <apexClass>CDCTriggerInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
